body {
    margin: 0;
}

.white-color {
    color: white;
}

header {
    background-image: url(images/city-scape.svg);
    padding-bottom: 70px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

nav {
    background-color: #C12127;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    height: auto;
}

nav a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.nav-text {
    display: inline-block;
    margin-left: 20px;
}

.nav-links {
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

div.header-bar {
    background-color:rgb(32, 101, 136);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0 15px;
}

.npm-logo {
    width: 80px;
}

form.search-bar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
}

form.search-bar input {
    background-color:rgb(31, 82, 111);
    width: 100%;
    display: block;
    border: 2px solid #4f4f6c;
    border-radius: 3px;
    padding: 7px;
}

form.search-bar button {
    background-color:rgb(31, 82, 111);
    border: 2px solid #4f4f6c;
}

div.auth-div {
    display: flex;
    align-items: center;
}

div.auth-div a, a.learn-more-a {
    text-decoration: none;
}

img.bear-logo {
    width: 30px;
}

div.npm-info {
    height: auto;
    padding-top: 45px;
}

div.npm-info p {
    width: 53%;
    margin: 30px 0;
}

div.npm-info button {
    background-color: rgb(240, 146, 51);
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
}

section.collaboration {
    background-color: rgb(39, 53, 71);
}

img.collab-img {
    width: 300px;
}

div.collab-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0 40px 0;
}

div.orgs-div {
    display: inline-block;
}

div.orgs-div h2 {
    width: 300px;
}

div.orgs-div ul {
    margin: 20px 0;
}

div.orgs-div ul li {
    line-height: 2;
}

div.orgs-div button {
    display: block;
    background-color: rgb(203, 56, 55);
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 20px;
}

section.what-is-npm {
    background-image: url(images/forklift.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 60px 0;
    height: 340px;
}

div.npm-definition {
    display: inline-block;
}

div.npm-definition p {
    width: 300px;
}

div.npm-definition button {
    background-color: rgb(49, 68, 88);
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
}

section.section-cards {
    padding: 50px 0 0 0;
}

div.libraries {
    text-align: center;
}

div.libraries h2 {
    margin-top: 0
}

div.what-can-you-do {
    display: flex;
    margin: 40px 200px 0 200px;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.card-description {
    text-align: center;
    padding: 0 10px;
}

h2.section-cards-heading {
    color: rgb(83, 88, 98);
}

p.section-cards-text {
    color: rgb(135, 145, 156);
}

a.card-links {
    color: rgb(208, 74, 73);
    text-decoration: none;
}